@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

header {
  font-family: 'Caprasimo';
  font-size: 3rem;
  text-align: center;
  color: #3f3b00;
  margin: 3rem auto 3rem auto;
}

body {
  background: radial-gradient(circle at center, rgba(241, 210, 70, 0.98), rgba(250, 176, 103, 0.87)) !important;
  background-repeat: repeat !important;
}

#game-container {
  min-width: 30rem;
  max-width: 45rem;
  margin: 3rem 0.5rem;
  padding: 3rem;
  border-radius: 6px;
  background: linear-gradient(#383624, #282617);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  justify-self: center;
  position: relative; /* required for #game-over overlay */
}

@media (max-width: 500px) {
  #game-container {
    min-width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    padding: 2rem;
  }
}

#players {
  padding: 1rem;
  justify-items: center;
  margin-bottom: 2rem;
}

.player {
  margin: 2px;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
}

.player.active.own {
  border-color: #f6e35a;
  animation: pulse-yellow 2s infinite ease-in-out;
}
.player.active.own .player-name,
.player.active.own .player-symbol {
  color: #f6e35a;
}

.player.active.other {
  border-color: #a5a38e;
  animation: pulse-grey 2s infinite ease-in-out;
}

.player-name {
  display: inline-block;
  width: 10rem;
  font-size: 1rem;
  color: #e1dec7;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem;
  border-radius: 4px;
  text-overflow: ellipsis;
  text-align: center;
}

.player-symbol {
  color: #e1dec7;
}

#game-board {
  justify-content: center;
}

#game-board button {
  border-radius: 1px;
  background: #aca788;
  color: #3f3b00;
  font-family: 'Caprasimo', cursive;
  font-size: 5rem;
  padding: 2rem;
  cursor: pointer;
}

#game-board button:disabled {
  cursor: default;
  opacity: 1;
}

#game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 38, 23, 0.95);
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

#game-over h2 {
  font-family: 'Caprasimo', cursive;
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
  color: #fcd256;
}

#game-over p {
  font-size: 2rem;
  color: #e1dec7;
}

@media (max-width: 500px) {
  #game-over h2 {
    font-size: 3rem;
  }
  #game-over p {
    font-size: 1.5rem;
  }
}

#game-over button {
  font-size: 1.5rem;
  color: #fcd256;
  border: 2px solid #fcd256;
  border-radius: 4px;
  padding: 0.2rem 1rem;
  transition: all 0.2s, color 0.2s;
  box-shadow: 0 0 8px rgba(255, 187, 0, 0.4);
}

#game-over button:hover {
  background: #fcd256;
  color: #3f3b00;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 187, 0, 0.8);
}

#log {
  max-width: 20rem;
  color: #3f3b00;
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

#log li {
  border-radius: 4px;
  animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  margin: 0.75rem;
}

#log li.highlighted {
  background-color: #3f3b00;
  color: white;
}

#game-hints {
  text-align: center;
  color: #46432f;
}

#game-hints h2 {
  font-family: 'Caprasimo', cursive;
  font-size: 2rem;
  margin: 0;
}

#game-hints ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#game-hints button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #23221f;
  font: inherit;
  margin-top: 1.5rem;
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse-yellow {
  0% {
    border-color: #f6e35a;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.4);
  }
  50% {
    border-color: #f8c031;
    box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
  }
  100% {
    border-color: #f6e35a;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
  }
}

@keyframes pulse-grey {
  0% {
    border-color: #c3c0ab;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.4);
  }
  50% {
    border-color: #9b937d;
    box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
  }
  100% {
    border-color: #c3c0ab;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
  }
}

/* Fancy animation for showing the "Game Over" element */
@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
